<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%= PageOptions.title %></title>
<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=yes">
<meta content="<%= PageOptions.description %>" name="description">
<meta content="" name="keywords">
<meta name="format-detection" content="telephone=no">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<%_ for ( var i = 0; i < PageOptions.cssFiles.length; i++ ) { _%>
<link href="<%= PageOptions.root %>assets/css/<%= PageOptions.cssFiles[i] %>.css" rel="stylesheet">
<%_ } _%>
</head>

<body>
  <div class="l-wrapper">
    <%- include ('../components/_header') -%>
    <div class="l-container">
